<div id="blurred-image-container">
  <div class="img-src"></div>
  <div class="img-src blurred-image"></div>
</div>
<div class="banner">
  <div class="blur">
    <h1>Never Miss a Game.<br>Every Season.</h1>
  </div>
</div>
<div class="banner-small">
ParkChasr allows you to track all your attended games and explore new ones.
</div>
